@import './fonts';

*{
    font-family: "Open Sans Bold";
}

/*TAB BAR*/

.menu{
    color: black;
    padding-top: 1.5rem;
}

#our_number{
    color: #019e8e;
    /*font-size: 1.5rem;*/
}

/*MAIN*/

.main{
    padding-top: 20px;
    background-color: white;
}


.main_section{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../img/back.png');
    min-height: 30rem; /*ВОЗМОЖНО УБРАТЬ*/
}

.shadow{
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
}

.main_text{
    margin-top: 4rem;
    text-transform: uppercase;    
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
}


.green_text{
    color: #00897b;
}

#main_text_oglavlenie_first{
    font-size: 30px;
}

#main_text_oglavlenie_second{
    font-size: 50px;
}

#main_text_oglavlenie_four{
    font-size: 40px;
}

#main_text_oglavlenie_five{
    font-size: 20px;
}

#under_main_text{
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
    margin-top: 2rem;
}


/*FEEDBACK*/

.feedback{
    background-color: #00ac9a;
    padding-top: 30px;
    color: white;
}

#feedback_p{
    font-family: "Open Sans Semibold";
    font-size: 15px;
}

.feedback_buttons{
    padding: 0.5rem 12px 3rem;
}

.feedback_button_item{
    border: white;
    border-radius: 12px;
    height: 50px;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2vh;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
}

#submit{
    color: white;
    background-color: red;
}

/*COST*/

.cost{
    padding: 3rem 0;
    background-color: #e4fdf9;
    
}

#cost_text{
    text-transform: uppercase;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
}

